:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.messages-wrapper {
  flex: auto;
  max-height: calc(100vh - 380px);
  overflow: auto;
}

.at-link {
  color: hsl(var(--accent-color));
}