<header class="direct-messages-header">
  <div class="inner-container">
    <app-contact-button
      #user
      [user]="getContact()"
      (click)="openUserProfile()"
    ></app-contact-button>
  </div>
</header>
<div>
  <div class="conversation-intro inner-container">
    @if (homeService.getCurrentUser() !== user.user) { Beginn einer
    fantastischen Unterhaltung } @else { Persönlicher Bereich }
  </div>
</div>
<div class="messages-wrapper">
  <app-messages-container
    *ngFor="let messagesByDay of getMessages() | keyvalue"
    [messages]="messagesByDay.value"
    [date]="messagesByDay.key"
  ></app-messages-container>
</div>
<app-messages-input></app-messages-input>
