<header class="direct-messages-header">
  <div class="inner-container">
    <app-contact-button
      #user
      [user]="hs.selectedChat()?.recipient"
      (click)="openUserProfile()"
    ></app-contact-button>
  </div>
</header>
<div class="messages-wrapper">
<div>
  <div class="conversation-intro inner-container">
    @if (authService.userProfile()?.id !== user.user?.id) {
    <p>
      Diese Unterhaltung findet nur zwischen
      <span class="at-link">&#64;{{ user.user?.name }}</span> und dir statt.
    </p>
    } @else {
    <p>
      Dieser Raum ist nur für dich da. Mache dir Notizen, liste deine To-dos auf
      oder bewahre Links und Dateien griffbereit auf. Du kannst hier auch gerne
      Dinge mit dir selbst besprechen.
    </p>
    }
  </div>
</div>

  <app-messages-container
    *ngFor="let messagesByDay of messages$ | async | keyvalue"
    [messages]="messagesByDay.value"
    [date]="messagesByDay.key"
  ></app-messages-container>
</div>
<app-messages-input container="chat" [pathForMessage]="'message'" [channelOrChat]="'user'"></app-messages-input>
