<form>
  <input placeholder="Type your message" [(ngModel)]="message" />
  <div class="messageIcons">
    <div class="appendIcons">
      <div class="addFile">
        <button mat-icon-button (click)="fileInput.click()">
          <mat-icon fontSet="material-symbols-outlined">add</mat-icon>
        </button>
        <input #fileInput class="addFileInput" type="file" />
      </div>
      <hr />
      <div>
        <button mat-icon-button (click)="toggleEmojiPicker()">
          <mat-icon fontSet="material-symbols-outlined">Mood</mat-icon>
        </button>
        <emoji-mart
          class="emoji-mart"
          *ngIf="showEmojiPicker"
          (emojiSelect)="addEmoji($event)"
        ></emoji-mart>
      </div>
      <div>
        <button mat-icon-button (click)="showUser(toppingsSelect)">
          <mat-icon fontSet="material-symbols-outlined"
            >alternate_email
          </mat-icon>
        </button>
        <mat-select
          #toppingsSelect
          [formControl]="pickUser"
          multiple
          style="display: ruby"
        >
          <mat-select-trigger>
            {{''}}
          </mat-select-trigger>
          @for (users of userList; track users) {
          <mat-option [value]="users">{{ users }}</mat-option>
          }
        </mat-select>
      </div>
    </div>
    <button mat-icon-button type="submit">
      <mat-icon class="sendButton" fontSet="material-symbols-outlined">
        send
      </mat-icon>
    </button>
  </div>
</form>
