<form>
  <input [formGroup]="messageForm" placeholder="Type your message" />
  <div class="messageIcons">
    <div class="appendIcons">
      <div class="addFile">
        <button mat-icon-button>
          <mat-icon fontSet="material-symbols-outlined">add</mat-icon>
        </button>
        <input class="addFileInput" type="file" />
      </div>
      <hr />
      <div>
        <button mat-icon-button (click)="toggleEmojiPicker()">
          <mat-icon fontSet="material-symbols-outlined">Mood</mat-icon>
        </button>
        <emoji-mart
          class="emoji-mart"
          *ngIf="showEmojiPicker"
          (emojiSelect)="addEmoji($event)"
          title="Pick your emoji…"
        ></emoji-mart>
      </div>
      <button mat-icon-button>
        <mat-icon fontSet="material-symbols-outlined">alternate_email</mat-icon>
      </button>
    </div>
    <button mat-icon-button type="submit">
      <mat-icon class="sendButton" fontSet="material-symbols-outlined"
        >send</mat-icon
      >
    </button>
  </div>
</form>
