<div class="inner-container">
  <div
    class="message-wrapper"
    [class.aligned-right]="currentUser() === getUser()"
  >
    <img class="avatar" [src]="getUser()?.avatar" alt="Profilbild" />
    <div class="message">
      <p
        class="message-meta-data flex ai-c"
        [class.aligned-right]="currentUser() === getUser()"
      >
        <button class="btn btn--text user-name" (click)="showUserProfile()">
          {{ getUser()?.name }}
        </button>
        <span class="message-time">{{
          getFormattedDay(message?.created)
        }}</span>
      </p>
      <p
        id="{{ message?.id }}"
        class="message-content"
        [innerHTML]="message?.message! | linkify"
        [class.message-content--aligned-right]="currentUser() === getUser()"
      >
        {{ message?.message }}
      </p>
      <div class="reactions">
        <div
          *ngFor="let reactions of message?.reactions"
          class="showEmoji"
          (click)="addOrDeleteEmoji(reactions)" >
          <div class="reactionsPeopleSubDiv" *ngFor="let name of getReactionsPeople(reactions); let i = index" >
            {{ name }}
            <span class="reactedSpan" *ngIf="getReactionsPeople(reactions).length > 1">
              und {{(getReactionsPeople(reactions).length) - 1}} weitere haben reagiert
            </span>
            <span class="reactedSpan" *ngIf="name === 'Du' && getReactionsPeople(reactions).length === 1">
              hast reagiert
            </span>
            <span class="reactedSpan" *ngIf="name !== 'Du' && getReactionsPeople(reactions).length === 1">
                hat reagiert
            </span>
          </div>
          <div *ngIf="reactions.userId.length > 0">
            {{ reactions.userId.length }}{{ reactions.emoji }}
          </div>
        </div>
        <button mat-icon-button (click)="toggleEmojiPicker()">
          <mat-icon fontSet="material-symbols-outlined">add_reaction</mat-icon>
        </button>
        <emoji-mart
          class="emoji-mart"
          *ngIf="showEmojiPicker"
          (emojiSelect)="addEmoji($event)"
        ></emoji-mart>
        <button
          mat-icon-button
          *ngIf="container === 'channel'"
          (click)="openThread()"
        >
          <mat-icon fontSet="material-symbols-outlined">comment</mat-icon>
        </button>
      </div>
      <button
        (click)="openThread()"
        class="btn replies"
        *ngIf="hasReplies() && container === 'channel'"
      >
        {{ getReplies()?.length }} @if (hasReplies() && getReplies()!.length >
        1) {Antworten } @else {Antwort }
        <span class="last-reply">Letzte Antwort {{ getLastReplyDate() }}</span>
      </button>
    </div>
  </div>
</div>
