<section>
  <div class="createChannel-Dialog">
    <div class="createChannel-header">
      <h2>Channel erstellen</h2>
      <button class="closeCreateChannelButton" [mat-dialog-close]="true">
        <mat-icon fontSet="material-symbols-outlined">close</mat-icon>
      </button>
    </div>
    <span
      >Channels dienen deinem Team zur Kommunikation. Am besten sollten sie
      themenbezogen sein #marketing zum Beispiel.
    </span>
    <form [formGroup]="channelsForm" (ngSubmit)="createChannel()">
      <h3>Channel-Name</h3>
      <div class="nameInput">
        <input formControlName="channelName" placeholder="Name" />
        <span class="errorMassageForm" *ngIf="nameExists"
          >Ein Channel mit diesem Namen existiert bereits</span
        >
      </div>
      <span class="descriptionText"
        ><h3>Beschreibung</h3>
        (optional)</span
      >
      <input formControlName="channelDescription" placeholder="Beschreibung" />
      <div class="createChannel-button">
        <button
          class="button-filled"
          type="submit"
          [disabled]="!channelsForm.valid"
          [ngClass]="{ 'button-filled-not-valid': !channelsForm.valid }"
        >
          Erstellen
        </button>
      </div>
    </form>
  </div>
</section>
