.dialogContent {
  display: flex;
  flex-direction: column;
  padding: 50px;
  // width: 100%;
  max-width: 710px;
  margin-left: 16px;
  margin-right: 16px;

  .header-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
      padding: 0.5em;

      &:hover {
        background-color: hsl(var(--accent-color) / 0.1);
        border-radius: 1em;
      }

      &.btn--text:hover {
        color: hsl(var(--accent-color));
        background-color: unset;
      }
    }
  }

  .radio-inputs {
    display: flex;
    flex-direction: column;

    .highlightedText {
      color: #535af1;
    }
  }

  .inputContainer {
    position: relative;

    .choosePeopleInput {
      border-radius: 40px;
      border: 1px solid var(--ligth-purple-lines, #adb0d9);
      display: flex;
      padding: 10px 20px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 20px;
      align-self: stretch;
      outline: none;
      margin-top: 20px;
      width: 100%;
    }
  }

  .button-section {
    width: 100%;
    display: flex;
    justify-content: end;
  }
}

.mat-mdc-form-field{
  width: 100%!important;
}
