<div class="dialogContent">
  <div class="header-info">
    <h2>Leute hinzufügen</h2>
    <button class="closeCreateChannelButton" [mat-dialog-close]="true">
      <mat-icon fontSet="material-symbols-outlined">close</mat-icon>
    </button>
  </div>
  <section>
    <mat-radio-group
      class="radio-inputs"
      color="primary"
      name="userSelection"
      [(ngModel)]="status"
    >
      <mat-radio-button value="all" (click)="migrateAllUser()">
        Alle Mitglieder von
        <span class="highlightedText">Code learning</span>
        hinzufügen
      </mat-radio-button>
      <mat-radio-button value="pick" (click)="userInputField()">
        Bestimmte Leute hinzufügen
      </mat-radio-button>
    </mat-radio-group>
    <div class="inputContainer" *ngIf="userToPick">
      <mat-form-field>
        <mat-label>User einbinden</mat-label>
        <mat-select [formControl]="userPicker" multiple>
          <mat-select-trigger>
            {{userPicker.value?.[0]?.name || ''}}
            @if ((userPicker.value?.length || 0) > 1) {
              <span class="example-additional-selection">
                (+{{(userPicker.value?.length || 0) - 1}} {{userPicker.value?.length === 2 ? 'other' : 'others'}})
              </span>
            }
          </mat-select-trigger>
          @for (user of userService.allUsers; track user) {
        <mat-option [value]=user>{{user.name}}</mat-option>
      }
        </mat-select>
      </mat-form-field>
    </div>
  </section>
  <div class="button-section">
    <button [mat-dialog-close]="true" class="button-filled" (click)="updateChannelWithUser()">Erstellen</button>
  </div>
</div>
