@import "../../../variables.scss";

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-inline-size: $max-inline-size;
  margin-inline: auto;

  @media (min-width: $small-medium-width) {
    padding: 2.2em;
  }
}

header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  padding-inline: 1em;
  padding-block-start: 1em;
  margin-block-end: 1em;

  @media (min-width: $small-medium-width) {
    padding: 0;
    padding-block-start: 0;
  }
}

header .search-wrapper {
  flex: auto;
}

.workspace-logo {
  min-width: 150px;
  width: 30vw;
  max-width: 243px;
}

.main {
  flex: auto;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.main-item {
  background-color: white;
  flex: auto;

  @media (min-width: $small-medium-width) {
    border-radius: 1em;
  }
}

.primary-nav {
  position: relative;

  @media (min-width: $small-medium-width) {
    margin-right: 1rem;
    flex: 0 366px;
    transition: all 0.5s;
    left: 0;
    opacity: 1;
  }

  &:not(.is-active) {
    flex: 0 0;
    opacity: 0;
    overflow: hidden;
    border: none;
    margin-right: 0;
    left: -100px;
    white-space: nowrap;
  }
}

.channel-container {
  flex: 4 400px;
  display: none;

  &.is-active {
    display: unset;
  }
}

.thread-container {
  flex: 2 400px;
  transition: all 0.5s;
  margin-left: 1rem;

  @media (max-width: 991px) {
    margin-left: 0;
  }

  &.d-none {
    display: none;
  }

  &:not(.is-active) {
    flex: 0 0;
    opacity: 0;
    margin-left: 0;
    max-height: 85vh;
    overflow: hidden;
  }
}

.toggle-primary-nav {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: fixed;
  padding: 1em 0.5em;
  left: 0;
  bottom: 64px;
  transform: rotate(-90deg);
  transform-origin: top left;
  background-color: white;
  box-shadow: -4px 4px 7px 0 rgba(0 0 0 / 0.2);
  border: none;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  &:hover {
    color: hsl(var(--accent-color));
  }

  mat-icon {
    margin-left: 0.5rem;
    transform: rotate(90deg);
  }

  @media (min-width: $max-inline-size) {
    display: none;
  }
}

.toggle-user-menu {
  gap: 1em;

  &:hover {
    color: hsl(var(--accent-color));
  }
}

.toggle-user-menu > *:not(.current-user) {
  flex: 0 0 auto;
}

.current-user {
  font-size: var(--fs-600);
  font-weight: 700;
  max-width: clamp(200px, 25vw, 500px);
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.current-user,
.current-user ~ mat-icon {
  display: none;

  @media (min-width: 1200px) {
    display: unset;
  }
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  display: none;

  @media (min-width: $small-medium-width) {
    display: flex;
  }

  .searchingButtons {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8px;
    right: 1.5em;
  }

  mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    border-radius: 100%;
    cursor: pointer;

    &:hover {
      background-color: rgba(0 0 0 / 0.2);
    }
  }

  input {
    width: 100%;
    padding: 1em 3em 1em 2em;
    outline: none;
    border: none;
    border-radius: 1.6em;
  }
}

.search-result-container {
  position: absolute;
  top: 53px;
  left: 50px;
  width: calc(100% - 100px);
  max-height: 80vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 25px 0 25px 0;
  border-radius: 0 0 35px 35px;
  background-color: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.08);
  z-index: 100;

  > div {
    display: flex;
    flex-direction: column;
    gap: 8px;

    > span {
      color: gray;
      padding: 0 8px 0 8px;
    }
  }

  .user-result {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 8px 0 8px 0;

    > img {
      width: 3em;
      height: 3em;
      object-fit: cover;
      border-radius: 100%;
      margin-left: 16px;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }

  .channel{
    padding: 16px 0 16px 0;
    cursor: pointer;

    >div{
      margin-left: 16px;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }

  .message{
    padding: 16px 0 16px 0;
    cursor: pointer;

    .channelMessageText{
      margin-left: 16px;     
    }

    .channelInformation{
      text-decoration: underline;
      .channelName{
        color: blue
      }
    } 

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
}
