<header class="header">
  <img
    src="assets/img/login/logo_header.png"
    alt="DA Bubble Logo"
    *ngIf="mqlSmallWidth.matches"
  />
  <input type="text" />
  <button #triggerUserDialog class="toggle-menu" (click)="openUserDialog()">
    Toggle menu
  </button>
</header>
<main class="main">
  <nav
    class="primary-nav main-item"
    [class.is-active]="navVisible || mqlMaxWidth.matches"
  >
    <app-nav-menu></app-nav-menu>
  </nav>
  <section class="channel-container main-item" *ngIf="channelVisible">
    <app-channel (openThreadEv)="openThread()"></app-channel>
  </section>
  <aside
    class="thread-container main-item"
    [class.is-active]="threadVisible"
    *ngIf="threadVisibleMq"
  >
    <app-thread (closeThreadEv)="closeThread()"></app-thread>
  </aside>
</main>
<button (click)="toggleNav()" class="toggle-primary-nav" *ngIf="mqlSmallWidth.matches">
  @if (navVisible) { Workspace-Menü schließen  
<mat-icon fontSet="material-symbols-outlined">switch_right</mat-icon>
}
@else { Workspace-Menü öffnen
  <mat-icon fontSet="material-symbols-outlined">switch_left</mat-icon> }
</button>
