<header class="header">
  <button
    (click)="goToMenu()"
    mat-icon-button
    *ngIf="getScreenMode() === 'small' && !isNavVisible()"
  >
    <mat-icon fontSet="material-symbols-outlined">keyboard_arrow_left</mat-icon>
  </button>
  <img
    class="workspace-logo"
    src="assets/img/login/logo_header.png"
    alt="DA Bubble Logo"
  />
  <div class="search-wrapper">
    <div class="searchingButtons">
      <mat-icon (click)="clickBack()" fontSet="material-symbols-outlined">expand_less</mat-icon>
      <mat-icon (click)="clickNext()" fontSet="material-symbols-outlined">expand_more</mat-icon>
    </div>
    <input
      type="text"
      class="searchbar"
      placeholder="Code learning durchsuchen"
      [(ngModel)]="searchTerm"
      (keyup)="search()"
    />
  </div>
  <button
    #triggerUserDialog
    class="btn flex ai-c toggle-user-menu"
    (click)="openUserDialog()"
  >
    <span class="current-user">{{ getCurrentUser()?.name }}</span>
    <div class="img-wrapper">
      <img class="avatar" [src]="getCurrentUser()?.avatar" alt="User avatar" />
      <div class="status-indicator status-indicator--online"></div>
    </div>
    <mat-icon fontSet="material-symbols-outlined">keyboard_arrow_down</mat-icon>
  </button>
</header>
<main class="main">
  <nav
    class="primary-nav main-item"
    [class.is-active]="isNavVisible() || getScreenMode() === 'large'"
  >
    <app-nav-menu></app-nav-menu>
  </nav>
  <section class="channel-container main-item" *ngIf="isChannelVisible()">
    <app-channel></app-channel>
  </section>
  <aside
    class="thread-container main-item"
    [class.is-active]="isThreadVisible()"
    *ngIf="hasThreadSpace() && getThreadMessage()"
  >
    <app-thread (closeThreadEv)="closeThread()"></app-thread>
  </aside>
</main>
<button
  (click)="toggleNav()"
  class="toggle-primary-nav"
  *ngIf="getScreenMode() === 'medium'"
>
  @if (isNavVisible()) { Workspace-Menü schließen
  <mat-icon fontSet="material-symbols-outlined">switch_right</mat-icon>
  } @else { Workspace-Menü öffnen
  <mat-icon fontSet="material-symbols-outlined">switch_left</mat-icon> }
</button>
