:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem;
  max-inline-size: 1440px;
  margin-inline: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

header>input {
  flex: auto;
}

.main {
  flex: auto;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.main-item {
  background-color: white;
  border-radius: 1em;
  border: 1px dashed red;
  flex: auto;
}

.primary-nav {
  position: relative;


  @media (min-width: 600px) {
    margin-right: 1rem;
    flex: 0 366px;
    transition: all 0.5s;
    left: 0;
    opacity: 1;
  }

  &:not(.is-active) {
    flex: 0 0;
    opacity: 0;
    overflow: hidden;
    border: none;
    margin-right: 0;
    left: -100px;
    white-space: nowrap;
  }
}

.channel-container {
  flex: 4 400px;
}

.thread-container {
  flex: 2 200px;
  transition: all 0.5s;
  margin-left: 1rem;

  @media (max-width: 991px) {
    margin-left: 0;
  }

  &.d-none {
    display: none;
  }

  &:not(.is-active) {
    flex: 0 0;
    opacity: 0;
    margin-left: 0;
    max-height: 85vh;
    overflow: hidden;
  }
}

.toggle-primary-nav {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: fixed;
  padding: 1em 0.5em;
  left: 0;
  bottom: 64px;
  transform: rotate(-90deg);
  transform-origin: top left;
  background-color: white;
  box-shadow: -4px 4px 7px 0 rgba(0 0 0 / 0.2);
  border: none;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  &:hover {
    color: hsl(var(--accent-color));
  }

  mat-icon {
    margin-left: 0.5rem;
    transform: rotate(90deg);
  }

  @media (min-width: 1440px) {
    display: none;
  }
}