:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.message-wrapper {
  flex: auto;
  display: flex;
  align-items: end;
}

.search-wrapper {
  position: relative;
}

.results {
  position: absolute;
  background-color: white;
  box-shadow: 4px 4px 7px 0 rgba(0 0 0 / 0.2);
  margin: 0;
  padding: 0 1em 1em;
  list-style-type: none;
  border-bottom-right-radius: 1em;

  li {
    cursor: pointer;
  }
}

app-messages-input {
  width: 100%;
}

input {
  border-radius: 1.7em;
  outline: none;
  width: 100%;
  padding: 0.5em 1em;
  border: 1px solid hsl(var(--accent-color-3));
  font-size: var(--fs-400);
  font-weight: 400;

  &:focus {
    border-color: hsl(var(--accent-color));
  }
}

.title {
  font-size: var(--fs-600);
  font-weight: 700;
  margin-block: 0.5em;
}