<header class="new-message-header">
  <div class="inner-container">
    <p class="title">Neue Nachricht</p>
    <div class="search-wrapper">
      <input [(ngModel)]="query" type="text" placeholder="An: #channel, oder @jemand oder E-Mail Adresse" (keyup)="getSearchResults()" />
      <ul class="results" *ngIf="userSearchResults.length || channelSearchResults.length">
        <li *ngFor="let result of userSearchResults" (click)="selectUser(result)">{{result.name}}</li>
        <li *ngFor="let result of channelSearchResults" (click)="selectChannel(result)">{{result.channelName}}</li>
      </ul>
    </div>
  </div>
</header>
<div class="message-wrapper">
  <app-messages-input></app-messages-input>
</div>
