<header class="flex jc-sb ai-c">
  <span class="title">Leute hinzufügen</span>
  <button mat-icon-button (click)="closeDialog()">
    <mat-icon fontSet="material-symbols-outlined">close</mat-icon>
  </button>
</header>
<p class="flex ai-c channel-name">
  <mat-icon fontSet="material-symbols-outlined">tag</mat-icon>{{homeService.selectedChannel()?.channelName}}
</p>
<div class="search-wrapper">
  <input type="text" [(ngModel)]="query" placeholder="Name eingeben" [readOnly]="selectedUser" (keyup)="getUserResults()"/>
  <app-selected-user-tag [user]="selectedUser" (userremove)="deselectUser()" *ngIf="selectedUser"></app-selected-user-tag>
</div>
<ul class="search-results">
  <app-contact-button
    *ngFor="let result of results"
    [user]="result"
    (click)="selectUser(result)"
  ></app-contact-button>
</ul>
<button class="btn" [disabled]="!selectedUser" (click)="addUser()">Hinzufügen</button>
