<section>
  <div class="Upload-Dialog">
    <div class="upload-info">
      <img
        (click)="closeUploadDialog()"
        class="backArrow"
        src="./assets/img/login/SingIn/arrow_back.png"
        alt=""
      />
      <h2>Upload Avatar Bild</h2>
    </div>
    <span> Du kannst hier dein Bild hochladen: </span>
    <div class="drag-and-drop-field">
      <div
        id="drag-area"
        class="drag-area"
        (drop)="onDrop($event)"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)"
      >
        <header class="desktopText">Drag &amp; Drop to Upload File</header>
        <header class="mobileText">Drag &amp; Drop</header>
        <span>OR</span>
        <button class="button-filled" (click)="fileInput.click()">
          Browse File
        </button>
        <input
          type="file"
          name="file"
          id="file"
          (change)="onFileSelected($event)"
          hidden
          #fileInput
        />
      </div>
    </div>
    <div
      *ngIf="errorOnUlpoad"
      [@slideInOutAnimation]="'in'"
      class="error-notification"
    >
      Etwas ist schiefgelaufen. Probiere es erneut!
    </div>
    <div
      *ngIf="wrongFileType"
      [@slideInOutAnimation]="'in'"
      class="error-notification"
    >
      Falscher Datentyp! (Nur .jpg & .png)
    </div>
  </div>
</section>
