@media screen and (max-width: 750px) {
    .resetHeader {
        justify-content: center;
        padding-left: 0;
    }
}

@media screen and (max-width: 660px) {
    .form-info {
        >h2{
            font-size: 32px!important;
        }
    }

    form{
        font-size: 16px;
    }

    .button-filled{
        font-size: 16px;
    }
}

@media screen and (max-width: 510px) {
    .form-info {
        >h2{
            text-align: center;
        }
    }

    .reset-button{
        align-self: center!important;
    }
}

@media screen and (max-width: 420px) {
    input {
        padding-left: 16px!important;
      }

      .form-info{
        padding: 25px 25px 0 25px!important;
      }

      form{
        padding: 20px 25px 25px 25px!important;
      }
}