<section>
  <div class="reset-Container">
    <div class="resetHeader">
      <img src="./assets/img/login/logo_header.png" alt="" />
    </div>
    <div>
      <div class="form-container">
        <div class="form-info">
          <h2>Passwort zurücksetzten</h2>
        </div>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
          <div class="inputField-container">
            <div class="inputFields">
              <input
                type="password"
                placeholder="Neues Passwort"
                formControlName="password"
                required
              />
            </div>
            <span
              class="errorMassageForm"
              *ngIf="password?.touched && password?.invalid"
              >Bitte gib ein valides Passwort an.</span
            >
            <div class="inputFields">
              <input
                type="password"
                placeholder="Passwort bestätigen"
                formControlName="confirmPassword"
                required
              />
            </div>
            <span
              class="errorMassageForm"
              *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['passwordMismatch']"
              >Die Eingabe stimmen nicht überein.</span
            >
          </div>
          <div class="reset-button">
            <button
              class="button-filled"
              type="submit"
              [ngClass]="{
                'button-filled-not-valid': !resetPasswordForm.valid
              }"
            >
              Passwort ändern
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="loginFooter">
      <a href="">Impressum</a>
      <a href="">Datenschutz</a>
    </div>
  </div>
  <div
    *ngIf="resetNotification"
    [@slideInOutAnimation]="'in'"
    class="success-notification"
  >
    Passwort erfolgreich geändert
  </div>
</section>
