<section>
  <div class="reset-Container">
    <div class="resetHeader">
      <img src="./assets/img/login/logo_header.png" alt="" />
    </div>
    <div>
      <div class="form-container">
        <div class="form-info">
          <h2>Passwort zurücksetzten</h2>
        </div>
        <form method="POST" onsubmit="return false">
          <div class="inputField-container">
            <div class="inputFields">
              <input
                type="password"
                placeholder="Neues Passwort"
                formControlName="email"
                required
              />
            </div>
            <div class="inputFields">
                <input
                  type="password"
                  placeholder="Neues Passwort bestätigen"
                  formControlName="email"
                  required
                />
              </div>
          </div>
          <div class="reset-button">
            <button class="button-filled" type="submit" (click)="resetPasswort()">Passwort ändern</button>
          </div>
        </form>
      </div>
    </div>
    <div class="loginFooter">
      <a href="">Impressum</a>
      <a href="">Datenschutz</a>
    </div>
  </div>
</section>
