<section>
  <div class="login-Container">
    <div class="loginHeader">
      <img src="./assets/img/login/logo_header.png" alt="" />
      <div>
        <span>Neu bei DABubble</span>
        <a href="">Konto erstellen</a>
      </div>
    </div>
    <div class="display_none">
      <app-login-dialog></app-login-dialog>
    </div>
    <div>
      <app-sign-up-dialog></app-sign-up-dialog>
    </div>
    <div class="loginFooter">
      <a href="">Impressum</a>
      <a href="">Datenschutz</a>
    </div>
  </div>
</section>
