@media screen and (max-width: 750px) {
  .desktop-overlay {
    display: none;
  }

  .mobile-overlay {
    display: block;
  }

  .login-Container {
    .loginHeader {
      justify-content: center;
      padding-bottom: 30px;

      > img {
        margin-left: 0;
      }
    }
    #create-contact-button {
      display: none;
    }
  }

  .loginFooter {
    display: none;
  }

  .loginFooter.showOnMobile {
    display: flex !important;
  }

  .create-contact-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 24px;

    > span {
      font-size: 18px;
    }
  }
}

@media screen and (min-width: 750px) {
  .loginFooter.showOnMobile {
    display: none !important;
  }
}
