.content {
  max-inline-size: calc(100% - 4rem);
  margin-inline: auto;
}

header {
  box-shadow: 0 3px rgba(0 0 0 / 0.05);
  padding-block: 1rem;
}

.title-text {
  font-size: var(--fs-600);
  font-weight: 700;
  margin-right: 0.5rem;
}

.channel {
  font-size: var(--fs-300);
  color: hsl(var(--accent-color));
}

