<header class="thread-header">
  <div class="inner-container flex ai-c jc-sb">
    <div class="flex ai-c">
      <span class="title-text">Thread</span
      ><span class="channel">@if (isChannelMessage()) {# {{getChannel()?.channelName}}}</span>
    </div>
    <button (click)="closeThread()" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</header>
<div class="messages-wrapper">
  <app-message container="thread" [message]="getMessage()" [showReplies]="false"></app-message>
  <div class="replies-header flex ai-c inner-container" *ngIf="getReplies()?.length">
    <span>{{getReplies()?.length}} @if(getReplies()!.length > 1) {Antworten} @else {Antwort} </span>
    <div class="separator"></div>
  </div>
  <app-message *ngFor="let message of getReplies()" [message]="message"></app-message>
</div>
<app-messages-input [pathForMessage]="'thread'" [channelOrChat]="getContext()"></app-messages-input>
