<header>
  <div class="content flex ai-c jc-sb">
    <div class="flex ai-c">
      <span class="title-text">Thread</span
      ><span class="channel"># Entwicklerteam</span>
    </div>
    <button (click)="closeThread()" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</header>
<div class="content">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error laboriosam
    debitis saepe dolor ratione incidunt architecto quis adipisci illo facere.
    Saepe repudiandae ad mollitia, sed soluta quos reprehenderit est velit?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error laboriosam
    debitis saepe dolor ratione incidunt architecto quis adipisci illo facere.
    Saepe repudiandae ad mollitia, sed soluta quos reprehenderit est velit?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error laboriosam
    debitis saepe dolor ratione incidunt architecto quis adipisci illo facere.
    Saepe repudiandae ad mollitia, sed soluta quos reprehenderit est velit?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error laboriosam
    debitis saepe dolor ratione incidunt architecto quis adipisci illo facere.
    Saepe repudiandae ad mollitia, sed soluta quos reprehenderit est velit?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error laboriosam
    debitis saepe dolor ratione incidunt architecto quis adipisci illo facere.
    Saepe repudiandae ad mollitia, sed soluta quos reprehenderit est velit?
  </p>
</div>
