<header class="channel-header">
  <div class="inner-container flex jc-sb ai-c">
    <button #callEditChannel (click)="editChannel()" class="btn title-text toggle-channel-menu flex ai-c">
      <mat-icon fontSet="material-symbols-outlined">tag</mat-icon>
      <span class="channel-name">{{
        getChannel()?.channelName
      }}</span>
      <mat-icon fontSet="material-symbols-outlined"
        >keyboard_arrow_down</mat-icon
      >
    </button>
    <div class="channel-users flex ai-c" #addMember>
      <button class="btn flex ai-c toggle-members-menu" #callChannelMembers (click)="openMembersListDialog()">
        <img
          class="avatar avatar--small"
          *ngFor="let member of getChannelUserAvatars()"
          [src]="member"
          [ngStyle]="{ 'margin-left.px': -8 }"
        />
        <span class="members-count">{{getChannel()?.users?.length}}</span>
      </button>
      <button mat-icon-button (click)="addChannelMember()">
        <mat-icon fontSet="material-symbols-outlined">person_add</mat-icon>
      </button>
    </div>
  </div>
</header>
<div class="messages-wrapper">
  <app-messages-container
    *ngFor="let messagesByDay of getChannelMessages() | keyvalue"
    [messages]="messagesByDay.value"
    [date]="messagesByDay.key"
  ></app-messages-container>
</div>
<app-messages-input [pathForMessage]="'message'" [channelOrChat]="'channel'"></app-messages-input>
