@import '../../../variables.scss';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.messages-wrapper {
  flex: auto;
  max-height: calc(100vh - 380px);
  overflow: auto;

  @media (max-width: $small-medium-width) {
    max-height: calc(100vh - 330px);
  }
}

.toggle-channel-menu {
  column-gap: 0.5em;
  padding: 0.3em;

  &:hover {
    color: hsl(var(--accent-color));
    background-color: var(--backgroundColor);
    border-radius: 1em;
  }
}

.channel-header>.inner-container {
  container: layout / inline-size;
}

.channel-name {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100cqw - 150px);
}

.toggle-members-menu {
  padding: 0.5em 0.5em 0.5em 1em;
  border-radius: 1.5em;
  display: none;

  &:hover {
    background-color: var(--backgroundColor);
    color: hsl(var(--accent-color));
  }
}

@container (width > 580px) {
  .toggle-members-menu {
    display: flex;
  }

  .channel-name {
    max-width: calc(100cqw - 300px);
  }
}

.members-count {
  margin-left: 0.5em;
  font-weight: 600;
}

.channel-users {
  flex: 0 0 auto;
}
