<header class="channel-header">
  <div class="inner-container flex jc-sb ai-c">
    <button class="btn title-text toggle-channel-menu flex ai-c">
      <mat-icon fontSet="material-symbols-outlined">tag</mat-icon>
      Entwicklerteam
      <mat-icon fontSet="material-symbols-outlined"
        >keyboard_arrow_down</mat-icon
      >
    </button>
    <div class="channel-users">
      <button mat-icon-button>
        <mat-icon fontSet="material-symbols-outlined">person_add</mat-icon>
      </button>
    </div>
  </div>
</header>
<app-message [isMyMessage]="false" [showReplies]="true" (openThreadEv)="openThread($event)"></app-message>
<app-message [isMyMessage]="true"></app-message>
<app-messages-container (openThreadEv)="openThread($event)"></app-messages-container>
