Channels <button (click)="openThread()">Open Thread</button>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error laboriosam
      debitis saepe dolor ratione incidunt architecto quis adipisci illo facere.
      Saepe repudiandae ad mollitia, sed soluta quos reprehenderit est velit?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error laboriosam
      debitis saepe dolor ratione incidunt architecto quis adipisci illo facere.
      Saepe repudiandae ad mollitia, sed soluta quos reprehenderit est velit?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error laboriosam
      debitis saepe dolor ratione incidunt architecto quis adipisci illo facere.
      Saepe repudiandae ad mollitia, sed soluta quos reprehenderit est velit?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error laboriosam
      debitis saepe dolor ratione incidunt architecto quis adipisci illo facere.
      Saepe repudiandae ad mollitia, sed soluta quos reprehenderit est velit?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error laboriosam
      debitis saepe dolor ratione incidunt architecto quis adipisci illo facere.
      Saepe repudiandae ad mollitia, sed soluta quos reprehenderit est velit?
    </p>
