.toggle-channel-menu {
  column-gap: 0.5em;
  padding: 0.3em;

  &:hover {
    color: hsl(var(--accent-color));
    background-color: var(--backgroundColor);
    border-radius: 1em;
  }
}

.toggle-members-menu {
  padding: 0.5em 0.5em 0.5em 1em;
  border-radius: 1.25em;

  &:hover {
    background-color: var(--backgroundColor);
    color: hsl(var(--accent-color));
  }
}

.members-count {
  margin-left: 0.5em;
  font-weight: 600;
}