<section>
    <div class="form-info">
      <h2>Passwort zurücksetzten</h2>
      <span>
        Bitte geben Sie Ihre E-Mail-Adresse ein.
      </span>
    </div>
    <form action="">
      <div class="inputField-container">
        <div class="inputFields">
          <img src="./assets/img/login/mail.png" alt="" />
          <input
            type="email"
            placeholder="beispielname@email.com"
            formControlName="email"
          />
        </div>
      </div>
      <div class="description-text">
        <span>Wir senden Ihnen eine E-Mail, über die <br> Sie Ihr Passwort ändern können.</span>
      </div>
      <div class="singIn-buttons">
        <button class="button-filled" type="submit">E-Mail senden</button>
      </div>
    </form>
  </section>
  
