section {
  background-color: #ffffff;
  border-radius: 30px;

  .form-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 60px 0 60px;

    > h2 {
      font-size: 46px;
      font-weight: 700;
      color: #444df2;
      margin: 0;
      padding-bottom: 30px;
    }

    > span {
      font-size: 20px;
      font-weight: 400;
      text-align: center;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 53px 50px 53px;

    .inputField-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      padding-top: 24px;

      .inputFields {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0px;
        width: 100%;
        height: 60px;
        position: relative;

        > img {
          position: absolute;
          left: 16px;
        }

        input {
          background-color: #eceefe;
          width: 100%;
          height: 100%;
          border-radius: 100px;
          border: none;
          padding-left: 60px;
        }
      }
    }
    .description-text {
        display: flex;
        padding: 40px 66px 40px 66px;

      > span {
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        color: #686868;
      }
    }
    .singIn-buttons{
        display: flex;
        align-self: flex-end;
    }
  }
}
