@media screen and (max-width: 640px) {
  .info-header {
    > h2 {
      text-align: center;
    }
  }

  .description-text {
    padding: 40px 0 40px 0 !important;
  }
}

@media screen and (max-width: 480px) {
  .forgotPasswordContent {
    padding: 25px !important;
  }
  .info-header {
    > h2 {
      font-size: 32px !important;
    }
    > span {
      font-size: 16px !important;
    }
  }

  form {
    font-size: 16px !important;
  }

  .inputField-container {
    padding-top: 0 !important;
  }

  .description-text {
    padding: 20px 0 20px 0 !important;
    > span {
      font-size: 16px !important;
    }
  }
}
