:host {
  display: block;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: x-large;
}

.heading span {
  font-weight: 700;
}

.heading {
  cursor: pointer;
  padding: 0;
  background-color: white;
  border: none;
  margin-block: 1rem;
}

.heading:hover {
  color: hsl(var(--accent-color));
}

img {
  margin-right: 0.5rem;
}

.icon-text {
  display: flex;
  align-items: center;
}

.icon-text__icn {
  margin-right: 0.5rem;
}

menu {
  list-style: none;
  padding-inline-start: 24px;
}