<div class="header">
  <div class="title">
    <img src="assets/img/Workspace logo.png" alt="Code learning logo" />
    <span>Code learning</span>
  </div>
  <button mat-icon-button>
    <mat-icon fontSet="material-symbols-outlined">edit_square</mat-icon>
  </button>
</div>
<div class="flex jc-sb ai-c">
  <button class="icon-text heading" (click)="toggleChannels()">
    <mat-icon fontSet="material-symbols-outlined" *ngIf="!channelsExpanded"
      >arrow_right</mat-icon
    >
    <mat-icon fontSet="material-symbols-outlined" *ngIf="channelsExpanded"
      >arrow_drop_down</mat-icon
    >
    <mat-icon fontSet="material-symbols-outlined" class="icon-text__icn"
      >spoke</mat-icon
    >
    <span>Channels</span>
  </button>
  <button mat-icon-button>
    <mat-icon fontSet="material-symbols-outlined">add</mat-icon>
  </button>
</div>
<menu *ngIf="channelsExpanded" class="flow">
  <button class="icon-text btn">
    <mat-icon class="icon-text__icn" fontSet="material-symbols-outlined"
      >tag</mat-icon
    >
    Entwicklerteam
  </button>
  <button class="icon-text is-active btn">
    <mat-icon class="icon-text__icn" fontSet="material-symbols-outlined"
      >tag</mat-icon
    >
    <span>Office-Team</span>
  </button>
  <button class="btn icon-text btn--text">
    <mat-icon fontSet="material-symbols-outlined" class="icon-text__icn"
      >add_circle</mat-icon
    >
    <span>Channel erstellen</span>
  </button>
</menu>
<button class="icon-text heading" (click)="toggleMessages()">
  <mat-icon fontSet="material-symbols-outlined" *ngIf="!messagesExpanded"
    >arrow_right</mat-icon
  >
  <mat-icon fontSet="material-symbols-outlined" *ngIf="messagesExpanded"
    >arrow_drop_down</mat-icon
  >
  <mat-icon fontSet="material-symbols-outlined" class="icon-text__icn"
    >account_circle</mat-icon
  >
  <span>Direktnachrichten</span>
</button>
<menu *ngIf="messagesExpanded">
  <button class="btn flex ai-c btn-user">
    <div class="img-wrapper">
      <img class="avatar" src="assets/img/login/SingIn/avatar2.png" alt="User avatar" />
      <div class="status-indicator status-indicator--online"></div>
    </div>
    <span class="user-name">Frederik Beck (Du)</span>
  </button>
  <button class="btn flex ai-c btn-user">
    <div class="img-wrapper">
      <img class="avatar" src="assets/img/login/SingIn/avatar1.png" alt="User avatar" />
      <div class="status-indicator"></div>
    </div>
    <span class="user-name">Sofia Müller</span>
  </button>
</menu>
