@import '../../../variables.scss';

:host {
  display: block;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: var(--fs-600);
}

.heading {
  cursor: pointer;
  font-size: var(--fs-500);
  padding: 0;
  background-color: white;
  border: none;
  margin-block: 1rem;
}

.heading:hover {
  color: hsl(var(--accent-color));
}

.heading span {
  font-weight: 700;
}

.heading>mat-icon:first-child {
  margin-right: 1rem;
}

menu {
  list-style: none;
  padding-inline-start: calc(24px + 1rem);

  

  .is-active {
    color: hsl(var(--accent-color));
    background-color: hsl(var(--accent-color) / 0.1);
    border-radius: 1em;

    span {
      font-weight: 700;
    }
  }
}

.icon-text {
  display: flex;
  align-items: center;
}

.icon-text__icn {
  margin-right: 0.5rem;
}

.workspace-name {
  margin-left: 0.5em;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-block: 1em;

  @media (min-width: $small-medium-width) {
    display: none;
  }

  mat-icon {
    position: absolute;
    right: 1em;
    color: gray;
  }

  input {
    width: 100%;
    padding: 0.5em 3em 0.5em 1em;
    outline: none;
    border: 1px solid hsl(var(--accent-color-3));
    border-radius: 1.2em;
  }
}

.scroll-wrapper {
  max-height: 75vh;
  overflow: auto;

  @media (max-width: $small-medium-width){
    max-height: 68vh;
  }
}