<div class="header">
  <div class="title">
    <img src="assets/img/Workspace logo.png" alt="Code learning logo" />
    <span>Code learning</span>
  </div>
  <button mat-icon-button>
    <mat-icon fontSet="material-symbols-outlined">edit_square</mat-icon>
  </button>
</div>
<div class="icon-text heading">
  <mat-icon fontSet="material-symbols-outlined" class="icon-text__icn"
    >spoke</mat-icon
  >
  <span>Channels</span>
</div>
<div class="icon-text heading">
  <mat-icon fontSet="material-symbols-outlined" class="icon-text__icn"
    >account_circle</mat-icon
  >
  <span>Direktnachrichten</span>
</div>
