/* You can add global styles to this file, and also import other style files */
// Properies:
//  Color
//  Font
//  Body-Size
//  Padding for max-width
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --font-heading: Arial;

  @media (min-width: 500px) {
    --font-heading: monospace;
  }
}

body {
  font-family: var(--font-heading);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1 {
  font-family: var(--font-heading);
}
