@import '@ctrl/ngx-emoji-mart/picker';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: unset;
}

button,
input,
textarea,
select {
  font: inherit;
}

img,
picture,
svg,
canvas {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  font-size: 1.125em; //entspricht 18px, Textgröße für Chatnachrichten etc als Basis
  --fs-200: 0.667rem;
  --fs-300: 0.833rem;
  --fs-400: 1rem;
  --fs-500: 1.222rem;
  --fs-600: 1.444rem;
  --fs-700: 1.778rem;
  --fs-800: 2.111rem;
  --fs-900: 2.556rem;
  --font-heading: Arial;
  --backgroundColor: #eceefe;
  --accent-color: 237 87% 61%;
  --secondary-color: 0, 0%, 41%;
  --accent-color-2: 238, 84%, 71%;
  --accent-color-3: 236, 37%, 76%;
  --margin-left: 75px;
  --margin-right: 75px;
}

* {
  ::-webkit-scrollbar {
    width: 10px;
    background: transparent;
    z-index: 1;
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(var(--accent-color));
    border-radius: 50px;
    z-index: 1;
  }

  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Nunito, "Helvetica Neue", sans-serif;
  background-color: var(--backgroundColor);
  height: 100vh;
  overflow-x: hidden;
}

a {
  padding: 10px 15px;
  color: #797ef3;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 22px;

  &:hover {
    border: 1px solid black;
    font-weight: 500;
  }
}

.btn {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.button-filled {
  border-radius: 25px;
  padding: 12px 25px 12px 25px;
  background-color: #444df2;
  color: white;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #797ef3;
  }
}

.button-filled-not-valid {
  background-color: #797ef3 !important;
  cursor: not-allowed;
}

[mat-icon-button] {
  &:hover {
    background-color: hsl(var(--accent-color) / 0.05);

    mat-icon {
      color: hsl(var(--accent-color));
    }
  }

  mat-icon {
    transition: all 0.25s;
  }
}

.errorMassageForm {
  color: red;
  font-size: 12px;
  margin-top: -15px;
  margin-bottom: -15px;
}

.button-noneFilled {
  border-radius: 25px;
  padding: 12px 25px 12px 25px;
  background-color: white;
  color: #444df2;
  border: 1px solid #797ef3;
  cursor: pointer;

  &:hover {
    color: white;
    background-color: #444df2;
  }
}

.display_none {
  display: none !important;
}

.arrow-back-svg {
  margin-right: 16px;
  padding: 8px;
  height: 40px;
  width: 40px;
  border-radius: 100%;

  &:hover {
    background-color: #eceefe;

    > g {
      > path {
        fill: #535af1;
      }
    }
  }
}

.inner-container {
  --margin-inline: 2rem;
  max-inline-size: calc(100% - 2 * var(--margin-inline));
  margin-inline: auto;
}

.channel-header,
.thread-header {
  box-shadow: 0 3px rgba(0 0 0 / 0.05);
  padding-block: 1rem;
  margin-block-end: 3px;

  .title-text {
    font-size: var(--fs-600);
    font-weight: 700;
    margin-right: 0.5rem;
  }
}

.avatar {
  width: 3em;
  height: 3em;
  object-fit: cover;
  border-radius: 50%;
}

.avatar--small {
  width: 2em;
  height: 2em;
  border: 2px solid white;
}

.img-wrapper {
  position: relative;
}

.status-indicator {
  position: absolute;
  right: 5%;
  bottom: 5%;
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background-color: darkgray;
  border: 2px solid white;
  margin: 0;
}

.status-indicator--online {
  background-color: lightgreen;
}

.status-indicator--busy {
  background-color: darkred;
}

.custom-container .mat-mdc-dialog-surface {
  border-radius: 1.5em !important;
  border-top-right-radius: 0 !important;
}

.default-container .mat-mdc-dialog-surface {
  border-radius: 2em !important;
}

//Utilities

.flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.flow > :not(:first-child) {
  margin-block-start: 0.5rem;
}

.error-notification {
  position: absolute;
  right: 50px;
  bottom: 50px;
  border-radius: 30px 30px 0px 30px;
  box-shadow: 12px 8px 10px 0px rgba(0, 0, 0, 0.2);
  font-size: 36px;
  font-weight: 700;
  padding: 25px;
  background-color: red;
  color: white;
}

.success-notification{
  position: absolute;
  right: 50px;
  bottom: 50px;
  border-radius: 30px 30px 0px 30px;
  box-shadow: 12px 8px 10px 0px rgba(0, 0, 0, 0.2);
  font-size: 36px;
  font-weight: 700;
  padding: 25px;
  background-color: #444df2;
  color: white;
}

@media screen and (max-width: 750px) {
  .error-notification {
    font-size: 16px !important;
  }

  .success-notification{
    font-size: 16px !important;
  }
}


.mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
  cursor: pointer;
  border-radius: 30px;
  margin-top: 16px;
  background-color: transparent;
  border: 1px solid var(--ligth-purple-lines, #adb0d9);
}

.cdk-overlay-pane {
  width: auto!important;
  max-width: 100%;
}

.mat-pseudo-checkbox-full.mat-pseudo-checkbox-checked {
  background-color: #3f51b5!important;
}

.mat-mdc-select-arrow {
  display: none;
}