/* You can add global styles to this file, and also import other style files */
// Properies:
//  Color
//  Font
//  Body-Size
//  Padding for max-width

//Resets
*,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: unset;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  img,
  picture,
  svg,
  canvas {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

:root {
  --font-heading: Arial;
  --backgroundColor: #eceefe; 
  --accent-color: 237 87% 61%;
  --margin-left: 75px;
  --margin-right: 75px;
}

* {
    ::-webkit-scrollbar {
      width: 10px;
      background: transparent;
      z-index: 1;
    }
  
    ::-webkit-scrollbar-thumb {
      background: hsl(var(--accent-color));
      border-radius: 50px;
      z-index: 1;
    }
  
    scroll-behavior: smooth;
  }

body {
  margin: 0;
  font-family: Nunito, "Helvetica Neue", sans-serif;
  background-color: var(--backgroundColor);
  height: 100vh;
}

a{
    padding: 10px 15px;
    color: #797ef3;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 22px;

    &:hover{
        border: 1px solid black;
        font-weight: 500;
    }
}

.button-filled{
  border-radius: 25px;
  padding: 12px 25px 12px 25px;
  background-color: #444DF2;
  color: white;
  border: none;
  cursor: pointer;

  &:hover{
    background-color: #797EF3;
  }
}

.button-filled-not-valid{
  background-color: #797EF3!important;
  cursor: not-allowed;
}

[mat-icon-button] {
  &:hover {
    background-color: hsl(var(--accent-color) / 0.05);

    mat-icon {
      color: hsl(var(--accent-color));
    }
  }

  mat-icon {
    transition: all 0.25s;
  }
}

.errorMassageForm{
  color: red;
  font-size: 12px;
  margin-top: -15px;
  margin-bottom: -15px;
}

.button-noneFilled{
  border-radius: 25px;
  padding: 12px 25px 12px 25px;
  background-color: white;
  color:  #444DF2;
  border: 1px solid #797EF3;
  cursor: pointer;

  &:hover{
    color: white;
    background-color: #444DF2;
  }
}

.display_none{
  display: none!important;
}

.arrow-back-svg{
  margin-right: 16px;
  padding: 8px;
  height: 40px;
  width: 40px;
  border-radius: 100%;

  &:hover{
    background-color: #ECEEFE;
    
    >g{
      >path{
        fill: #535AF1;
      }
    }
  }
}