<div class="flex ai-c jc-sb">
  <span class="title">Profil</span>
  <button (click)="closeDialog()" mat-icon-button>
    <mat-icon fontSet="material-symbols-outlined">close</mat-icon>
  </button>
</div>
<img class="avatar" src="assets/img/login/SingIn/avatar2.png" alt="Your avatar">
<div class="flex ai-c jc-sb">
  <span class="user-name">Frederik Beck</span>
  <button mat-icon-button>
    <mat-icon fontSet="material-symbols-outlined">edit</mat-icon>
  </button>
</div>
<p class="email-title flex ai-c icon-text">
  <mat-icon fontSet="material-symbols-outlined">mail</mat-icon>
  E-Mail-Adresse
</p>
<p class="email">fred.beck&#64;email.de</p>