<div class="flex ai-c jc-sb">
  <span class="title">
    @if (formMode==='view') { Profil } @else { Dein Profil bearbeiten }
  </span>
  <button (click)="closeDialog()" mat-icon-button>
    <mat-icon fontSet="material-symbols-outlined">close</mat-icon>
  </button>
</div>
<form [formGroup]="userProfileForm">
  <img
    class="avatar"
    [src]="user.avatar"
    alt="Your avatar"
  />
  <label
    for="name"
    class="form-label flex ai-c"
    [class.hidden]="formMode === 'view'"
  >
    <mat-icon fontSet="material-symbols-outlined">account_circle</mat-icon>
    Vollständiger Name</label
  >
  <div class="flex ai-c jc-sb">
    <input
      id="name"
      [class.edit]="formMode === 'edit'"
      class="form-input user-name"
      formControlName="name"
      [readOnly]="formMode === 'view'"
    />
    <button
      mat-icon-button
      (click)="editUserProfile()"
      type="button"
      *ngIf="formMode === 'view' && user===getCurrentUser()"
    >
      <mat-icon fontSet="material-symbols-outlined">edit</mat-icon>
    </button>
  </div>
  <div *ngIf="name?.errors?.['required']" class="error-message">Dies ist ein Pflichtfeld.</div>
  <label for="email" class="form-label flex ai-c icon-text">
    <mat-icon fontSet="material-symbols-outlined">mail</mat-icon>
    E-Mail-Adresse
  </label>
  <input
    class="email"
    type="email"
    [class.edit]="formMode === 'edit'"
    class="form-input"
    formControlName="email"
    id="email"
    [readOnly]="formMode === 'view'"
  />
  <div *ngIf="email?.errors?.['required']" class="error-message">Dies ist ein Pflichtfeld.</div>
  <div *ngIf="email?.errors?.['email']" class="error-message">Bitte eine gültige Email-Adresse eingeben.</div>
  <div class="actions flex" *ngIf="formMode === 'edit'">
    <button class="btn btn--secondary" (click)="closeDialog()">Abbrechen</button>
    <button class="btn" (click)="saveUserProfileEdits()" [disabled]="userProfileForm.invalid" [ngClass]="{'btn-disabled': userProfileForm.invalid}">Speichern</button>
  </div>
</form>
<button class="btn flex ai-c" *ngIf="user!.authId!==getCurrentUser()?.authId" (click)="createChat()">
  <mat-icon fontSet="material-symbols-outlined">mode_comment</mat-icon>
  Nachricht
</button>
