<header>
  <mat-icon fontSet="material-symbols-outlined">tag</mat-icon>
  <span class="title"> Entwicklerteam </span>
  <button mat-icon-button type="button">
    <mat-icon fontSet="material-symbols-outlined">close</mat-icon>
  </button>
</header>
<form>
  <fieldset>
    <div class="label-action">
      <label for="name">Channel-Name</label>
      <button mat-icon-button type="button">
        <mat-icon fontSet="material-symbols-outlined">edit</mat-icon>
      </button>
    </div>
    <input id="name" type="text" value="Entwicklerteam" />
  </fieldset>
  <fieldset>
    <div class="label-action">
      <label for="desc">Beschreibung</label>
      <button mat-icon-button>
        <mat-icon fontSet="material-symbols-outlined">edit</mat-icon>
      </button>
    </div>
    <textarea id="desc">Dieser Channel bla bla bla...</textarea>
    <hr />
    <label for="createdby">Erstellt von</label>
    <input id="createdby" type="text" value="Noah Braun" readonly />
  </fieldset>
</form>
<button class="btn">Channel verlassen</button>
